/*清除浏览器的默认样式*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin:0;
	padding:0;
	list-style:none;
}
body{
	font:12px "微软雅黑","黑体";
	color:#9a9a9a;
	background:#DBDBDB;
}
a{
	text-decoration:none;
	color:#9a9a9a;
}
a:hover{
	color:#64a131;
}

/*1.导航栏*/
/*设置顶部横条container*/
#container{
	width:100%;
	background:#F58171;
	height:70px;
}
/*导航栏*/
#nav{
	width:990px;
	margin:0 auto;
}
/*标题和列表栏左浮*/
#logo{
	float:left;
	margin-right:25px;
}
#logo img{
	height:70px;
}
#leftNav{
	float:left;
}
/*登录注册右浮*/
#rightNav{
	float:right;
}
/*列表栏设置*/
#leftNav a{
	width:92px;
	float:left;
	font:20px "微软雅黑";
	color:white;
	margin-right:25px;
	line-height:70px;
	text-align:center;
	cursor:pointer;
}
/*登录注册样式*/
#rightNav>a{
	font-size:15px;
	color:white;
	line-height:70px;
	margin-right:20px;
}

/*2.主体内容*/
#main{
	width:990px;
	margin:0 auto;
	margin-top:25px;
	margin-bottom:30px;
	overflow:hidden;
}
/*主体内容左边*/
#leftMain{
	width:700px;
	margin-right:15px;
	float:left;
	background:white;
}
/* 时间导航栏 */
#timeNav{
	border-bottom:1px solid black;
	height:50px;
	font-size:18px;
	line-height:50px;
	background:white;
}
#timeNav a{
	display:inline-block;
	width:100px;
	text-align:center;
	color:black;
	margin-left:15px;
}
#timeNav a:hover{
	color:red;
	border-bottom:2px solid red;
}

/* 内容栏 */
.content{
	background:white;
	margin-top:20px;
	border-bottom:15px solid #DBDBDB;
	margin-bottom:0;
}
.content .contentTop{
	overflow:hidden;
	margin-left:10px;
}
.content .contentTop>div{
	float:left;
}
.content .contentTop .headImg{
	border-radius:50%;
	overflow:hidden;
	margin-right:10px;
}
.content .contentTop img{
	width:50px;
	height:50px;
}
.contentTop .title_user{
	height:50px;
}
.contentTop .title_user .username{
	height:25px;
	line-height:25px;
	font-size:14px;
}
.contentTop .title_user .title{
	display:inline-block;
	width:490px;
	height:25px;
	line-height:25px;
	font-size:25px;
	overflow:hidden;
}
.contentTop .title_user a{
	color:#FF7E69;
}
.contentTop .title_user .titleContent{
	color:black;
}
.content .contentTop>span{
	float:right;
	color:black;
	width:114px;
	font-size:13px;
	margin-right:10px;
}
/*帖子内容*/
.contentCenter{
	height:350px;
}
.contentCenter>p{
	margin:15px 40px;
	font-size:14px;
	color:black;
}
/*点赞分享栏*/
.contentBottom{
	overflow:hidden;
	border-bottom:1px solid black;
	margin-bottom:20px;
}
.contentBottom img{
	width:30px;
	height:30px;
}
.contentBottom li{
	margin-left:25px;
	float:left;
	line-height:30px;
	opacity:.7;
	cursor:pointer;
}
.contentBottom li:hover{
	opacity:1;
}
.contentBottom a{
	float:right;
	color:red;
	font-size:15px;
	margin-right:50px;
	cursor:pointer;
}
.contentBottom .fav{
	margin-right:20px;
}

/*评论沙发*/
/*评论栏*/
.commit{
	display:none;
}
.commitTalk{
	overflow:hidden;
	margin-bottom:10px;
}
.commitTalk img{
	width:30px;
	height:30px;
}
.commitTalk .head0{
	width:30px;
	height:30px;
	border-radius:50%;
	overflow:hidden;
	margin-left:10px;
	float:left;
}
.commitTalk textarea{
	float:left;
	height:70px;
	width:500px;
	margin-left:10px;
	font-size:14px;
}
.commitTalk a{
	display:inline-block;
	float:left;
	margin-left:10px;
	background:red;
	color:white;
	border-radius:5px;
	width:70px;
	height:30px;
	line-height:30px;
	opacity:.7;
	font-size:14px;
	text-align:center;
}
.commitTalk a:hover{
	opacity:1;
}
/*评论历史记录*/
.commitHistory{
	overflow:hidden;
}
.commitHistory .historyContent{
	float:left;
	margin-left:10px;
}
.commitHistory .head1{
	float:left;
	margin-left:10px;
}
.commitlike{
	float:right;
}
.commitlike li{
	float:left;
	margin-right:10px;
	opacity:.7;
	cursor:pointer;
}
.commitlike li:hover{
	opacity:1;
}
.commitHistory .head1{
	width:30px;
	height:30px;
	border-radius:50%;
	overflow:hidden;
}
.commitHistory .head1>img{
	width:30px;
	height:30px;
}
.commitHistory .historyContent{
	width:500px;
	font-size:14px;
	height:30px;
	line-height:30px;
	overflow:hidden;
}
.commitHistory .commitlike img{
	width:20px;
	height:20px;
}

/*主体右栏*/
#rightMain{
	width:275px;
	float:left;
}
#rightMain>div{
	margin-bottom:6px;
	background:white;
}
/* 个人信息 */
#userInfo #headBg{
	height:180px;
	position:relative;
}
#userInfo #headBg>img{
	width:275px;
	height:150px;
}
#headBg #headPhoto{
	overflow:hidden;
	width:60px;
	height:60px;
	border-radius:50%;
	position:absolute;
	bottom:0;
	left:110px;
}
#headBg #headPhoto>img{
	width:60px;
	height:60px;
}
#friendsInfo>h3{
	color:red;
	text-align:center;
}
#friendsInfo p{
	font-size:14px;
	color:black;
	margin-bottom:10px;
}
#friendsInfo #changeInfo{
	text-align:right;
	margin-right:10px;
	color:blue;
}
#friendsInfo #changeInfo:hover{
	color:red;
}
#friendsInfo table{
	width:210px;
	margin:20px auto;
	text-align:center;
	font-size:14px;
	color:black;
	border-collapse:collapse;
}
#friendsInfo>div{
	border-bottom:1px solid white;
}
#friendsInfo td{
	border-right:1px solid black;
}
#friendsInfo .tdend{
	border-right:0;
}
/*发帖*/
#addBlog>div{
	height:40px;
	font-size:0px;
	overflow:hidden;
	margin-bottom:10px;
	margin-left:20px;
}
#addBlog img{
	width:40px;
	height:40px;
	float:left;
}
#addBlog a{
	display:inline-block;
	float:left;
	width:77.5px;
	font-size:18px;
	height:40px;
	line-height:40px;
	color:black;
}
#addBlog a:hover{
	color:red;
}
/*发帖排行榜*/
#addList>p{
	font-size:15px;
	color:black;
	height:30px;
	line-height:30px;
	border-bottom:1px solid black;
	margin-bottom:5px;
}
#addList>p:hover{
	font-size:16px;
	color:red;
}
#addList .list{
	overflow:hidden;
	margin-bottom:5px;
}
.list .head{
	width:30px;
	height:30px;
	overflow:hidden;
	border-radius:50%;
	float:left;
}
.list .head img{
	width:30px;
	height:30px;
}
.list .username{
	float:left;
	height:30px;
	line-height:30px;
	font-size:14px;
	margin-left:10px;
}
.list .username b{
	color:red;
}
.list .becomeFan{
	float:right;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:orange;
	margin-right:10px;
	cursor:pointer;
}
/* 精彩段子and精彩视频 */
.niceWord p{
	font-size:15px;
	color:black;
	line-height:30px;
	border-bottom:1px solid black;
	margin-bottom:5px;
}
.niceWord p:hover{
	font-size:16px;
	color:red;
}
.niceWord ol{
	overflow:hidden;
}
.niceWord li{
	height:30px;
	line-height:30px;
	font-size:14px;
	color:black;
}
.niceWord li:hover{
	color:orange;
}
/* 精彩图片and精彩动图 */
.nicePhoto{
	overflow:hidden;
}
.nicePhoto .nicePh{
	float:left;
	width:130px;
	margin-left:5px;
	position:relative;
}
.nicePhoto .nicePh{
	overflow:hidden;
	transition: .3s;
}
.nicePhoto .nicePh img{
	width:130px;
	height:120px;
}
.nicePhoto .nicePh img:hover{
	transform: scale(1.2);
}
.nicePhoto .nicePh p{
	position:absolute;
	top:50px;
	width:130px;
	text-align:center;
	color:black;
	font-size:14px;
	background:rgba(75,75,75,.5);
}
.nicePhoto .nicePh p:hover{
	background:rgba(75,75,75,.8);
	color:red;
}
.nicePhoto>p{
	font-size:15px;
	color:black;
	line-height:30px;
	border-bottom:1px solid black;
	margin-bottom:5px;
}
.nicePhoto>p:hover{
	font-size:16px;
	color:red;
}

/* 分页栏 */
#page{
	height:32px;
	background:#DBDBDB;
	text-align:center;
}
#page>div>a:hover{
	background:red;
}
#page>div{
	overflow:hidden;
	width:500px;
	margin:0 auto;
}
#page .num{
	display:inline-block;
	width:60px;
	height:32px;
	line-height:32px;
	font-size:16px;
	color:black;
	text-align:center;
	background:orange;
	margin-right:20px;
	float:left;
}
#change{
	float:left;
	width:180px;
	font-size:14px;
	color:black;
}
#page div>a{
	color:orange;
    cursor: pointer;
}
#change a:hover{
	color:red;
}
#page input{
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	display:inline-block;
}
/* 版权栏 */
#end{
	width:100%;
	height:100px;
	background:#5F434B;
	margin-top:0;
}
#end>div{
	width:500px;
	margin:0 auto;
	text-align:center;
	padding-top:30px;
}

/* 悬浮广告 */
#qq{
	margin-bottom:30px;
}
#adj{
	position:fixed;
	right:30px;
	bottom:20px;
}
#adj img{
	width:80px;
	height:80px;
	opacity:.7;
}
#adj img:hover{
	opacity:1;	
}
