{% extends "index.html" %}
{% block css_js %}
    <link rel="shortcut icon" href="../static/images/title.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/write_picture.css" type="text/css">
    <link rel="stylesheet" href="../static/css/add_gif.css" type="text/css">
{% endblock %}
{% block leftmain %}
    <div id="leftMain">
        <!--2.1.1分时导航栏-->
        <div id="timeNav">
            <a href="/add_word" class="writeWord">发段子</a>
            <a href="/add_picture">发图片</a>
            <a href="/add_gif" class="add_gif">发动图</a>
            <a href="/add_video">发视频</a>
        </div>
        <!--2.1.2永久悬浮导航栏-->
        <!--2.1.3显示内容-->
		<div id="witeContent">
			<form action="/add_gif" method="post" enctype="multipart/form-data">
                <input type="hidden" name="uid" value="{{ params.user.id }}">
                <input type="hidden" name="type" value="3">
				<p>
					<input type="text" name="title" id="contenTitle" placeholder="标题">
				</p>
				<p id="file" accept="image/gif">
					<input type="file" name="picture">
				</p>
				<p id="writeEnd">
					<input type="submit" value="分享">
				</p>
			</form>
		</div>
    </div>
{% endblock %}


