{% extends "index.html" %}
{% block css_js %}
    <title>分类</title>
    <link rel="shortcut icon" href="../static/images/title.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/class.css" type="text/css">
{% endblock %}
{% block main %}
	<!--2.主体内容-->
	<div id="classMain">
		<table>
			<tr>
				<td>
					<a href="/search?key=搞笑">
					<img src="../static/images/class.jpg">
					<span>搞笑</span>
					</a>
				</td>
				<td>
					<a href="/search?key=男女">
					<img src="../static/images/class1.jpg">
					<span>男女</span>
					</a>
				</td>
				<td>
					<a href="/search?key=职场">
					<img src="../static/images/class2.jpg">
					<span>职场</span>
					</a>
				</td>
				<td>
					<a href="/search?key=校园">
					<img src="../static/images/class3.jpg">
					<span>校园</span>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/search?key=大妈">
					<img src="../static/images/class4.jpg">
					<span>大妈</span>
					</a>
				</td>
				<td>
					<a href="/search?key=妹子">
					<img src="../static/images/class5.jpg">
					<span>妹子</span>
					</a>
				</td>
				<td>
					<a href="/search?key=搞怪">
					<img src="../static/images/class6.jpg">
					<span>搞怪</span>
					</a>
				</td>
				<td>
					<a href="/search?key=逗逼">
					<img src="../static/images/class7.jpg">
					<span>逗逼</span>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/search?key=整蛊">
					<img src="../static/images/class8.jpg">
					<span>整蛊</span>
					</a>
				</td>
				<td>
					<a href="/search?key=实验">
					<img src="../static/images/class9.jpg">
					<span>实验</span>
					</a>
				</td>
				<td>
					<a href="/search?key=热点">
					<img src="../static/images/class10.jpg">
					<span>热点</span>
					</a>
				</td>
				<td>
					<a href="/search?key=考试">
					<img src="../static/images/class11.jpg">
					<span>考试</span>
					</a>
				</td>
			</tr>
		</table>
	</div>
{% endblock %}

