{% extends "index.html" %}
{% block css_js %}
    <title>分享快乐</title>
    <link rel="shortcut icon" href="../static/images/title.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
	<script src="../static/js/jquery-1.11.3.js"></script>
    <script src="../static/js/longclass.js"></script>
{% endblock %}
{% block leftmain %}
    <div id="leftMain">
        <!--2.1.1分时导航栏-->
        <div id="timeNav">
            <a>人活一世，没有理由不开心享受快乐时光</a>
        </div>
        <!--2.1.2永久悬浮导航栏-->
        <div id="mainNav">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/longclass?type=1" style="
                {%if params.type==1%}
                    color:red;
                {%endif%}
                ">段子</a></li>
                <li><a href="/longclass?type=2" style="
                {%if params.type==2%}
                    color:red;
                {%endif%}
                ">图片</a></li>
                <li><a href="/longclass?type=3" style="
                {%if params.type==3%}
                    color:red;
                {%endif%}
                ">动图</a></li>
                <li><a href="/longclass?type=4" style="
                {%if params.type==4%}
                    color:red;
                {%endif%}
                ">视频</a></li>
            </ul>
        </div>
        <!--2.1.3显示内容-->
        {%for note in params.notes%}
            <div class="content">
            <!--用户信息和标题-->
            <div class="contentTop">
                <div class="headImg">
                    <img src="{{note.user.head_path}}">
                </div>
                <div class="title_user">
                    <p class="username">
                        <a href="/person?user_id={{note.user.id}}">{{note.user.name}}</a>
                    </p>
                    <p class="title">
                        <a href="/info?note_id={{note.id}}" class="titleContent">{{note.content.title}}</a>
                    </p>
                </div>
                <span>{{note.create_date}}</span>
            </div>
            <!--帖子内容-->
            <div class="contentCenter">
                {%if note.content.type==1%}
                <p>
                    {{note.content.content}}
                </p>
                {%elif note.content.type==2%}
                <div class="contentImg">
                    <img src="{{note.content.content}}">
                </div>
                {%elif note.content.type==3%}
                <div class="contentImg">
                    <img src="{{note.content.content}}">
                </div>
                {%elif note.content.type==4%}
                <div class="contentImg">
                    <video id="my-video"
                           class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9"
                           controls preload="auto"
                           poster=""
                           width="630"
                           data-setup="{}">
                        <source src="{{note.content.content}}"
                                type="video/mp4">
                        </source>
                    </video>
                </div>
                {%endif%}
            </div>
            <!--点赞踩评论分享-->
            <input type="hidden" class="note_id" value="{{note.id}}">
            <div class="contentBottom">
				<ul>
                    <li class="like">
                        <img src="../static/images/like.jpg">
                        <span>{{note.note_raise}}</span>
                    </li>
                    <li class="unlike">
						<img src="../static/images/unlike.png">
                        <span>{{note.down}}</span>
                    </li>
                    <li class="fav talk">
						<img src="../static/images/talk.jpg">
                    </li>
					<li class="fav addbook">
						<img src="../static/images/fav.png">
                    </li>
                </ul>
                <a>展开>></a>
            </div>
            <!--评论沙发-->
            <div class="commit">
                <div class="commitTalk">
                    <p>
                    <div class="head0">
                        {%if params.user%}
                        <img src="{{params.user.head_path}}">
                        {%else%}
                        <img src="/static/images/headimg/head.gif">
                        {%endif%}
                    </div>
                    <textarea name="talkContent" class="talkContent" placeholder="对作者说点什么"></textarea>
                    <a class="submit_comment">提交评论</a>
                    </p>
                </div>
                {%for com in note.comments[::-1][0:3]%}
                <div class="commitHistory">
                    <div class="head1">
                        <img src="{{com.user.head_path}}">
                    </div>
                    <div class="historyContent">
                        <p>
                            <b>{{com.user.name}}说：</b>{{com.content}}({{com.date.strftime("%Y-%m-%d")}})
                        </p>
                    </div>
                    <input type="hidden" class="com_id" value="{{com.id}}">
                    <div class="commitlike">
                        <ul>
                            <li class="com_like">
                                <img src="../static/images/like.jpg">
                                <span>{{com.comment_raise}}</span>
                            </li>
                            <li class="com_unlike">
                                <img src="../static/images/unlike.png">
                                <span>{{com.down}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
        {%endfor%}
        <!--分页栏-->
        <div id="page">
            <div>
                <a class="num" href="/longclass?type={{params.type}}&page=1">首页</a>
                <a class="num" href="/longclass?type={{params.type}}&page={{ params.prePage }}">上一页</a>
                <a class="num" href="/longclass?type={{params.type}}&page={{ params.nextPage }}">下一页</a>
                <a class="num" href="/longclass?type={{params.type}}&page={{ params.lastPage }}">尾页</a>
                <input type="hidden" id="pageType" value="{{params.type}}">
                <div id="change">
                    <a id="choosePage">跳转</a>至
                    <input type="text" name="page" value='{{params.page}}'>
                    共<b id="lastPage">{{params.lastPage}}</b>页
                </div>
            </div>
        </div>
    </div>
{% endblock %}

