{% extends "index.html" %}
{% block css_js %}
    <title>浏览帖子</title>
    <link rel="shortcut icon" href="../static/images/title.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
    <link rel="stylesheet" href="../static/css/read.css" type="text/css">
    <script src="../static/js/jquery-1.11.3.js"></script>
	<script src="../static/js/index.js"></script>
{% endblock %}
{% block leftmain %}
    <!--2.1左边主体内容-->
    <div id="leftMain">
        <!--2.1.1分时导航栏-->
        <div id="timeNav">
            <a>愿时间静止，开心不散</a>
        </div>
        <!--2.1.2永久悬浮导航栏-->
        <!--2.1.3显示内容-->
        <div class="content">
            <!--用户信息和标题-->
            <div class="contentTop">
                <div class="headImg">
                    <img src="{{params.note.user.head_path}}">
                </div>
                <div class="title_user">
                    <p class="username">
                        <a href="/person?user_id={{params.note.user.id}}">{{params.note.user.name}}</a>
                    </p>
                    <p class="title">
                        <a href="#" class="titleContent">{{params.note.content.title}}</a>
                    </p>
                </div>
                <span>{{params.note.create_date}}</span>
            </div>
            <!--帖子内容-->
            <div class="contentCenter">
                {%if params.note.content.type==1%}
                <p>
                    {{params.note.content.content}}
                </p>
                {%elif params.note.content.type==2%}
                <div class="contentImg">
                    <img src="{{params.note.content.content}}">
                </div>
                {%elif params.note.content.type==3%}
                <div class="contentImg">
                    <img src="{{params.note.content.content}}">
                </div>
                {%elif params.note.content.type==4%}
                <div class="contentImg">
                    <video id="my-video"
                           class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9"
                           controls preload="auto"
                           poster=""
                           width="630"
                           data-setup="{}">
                        <source src="{{params.note.content.content}}"
                                type="video/mp4">
                        </source>
                    </video>
                </div>
                {%endif%}
            </div>
			<div id="btnChangeblog">
				<a href="/info?note_id={{params.prev_note_id}}">上一条</a>
				<a href="/info?note_id={{params.next_note_id}}">下一条</a>
			</div>
            <!--点赞踩评论分享-->
            <input type="hidden" class="note_id" value="{{params.note.id}}">
            <div class="contentBottom">
				<ul>
                    <li class="like">
                        <img src="../static/images/like.jpg">
                        <span>{{params.note.note_raise}}</span>
                    </li>
                    <li class="unlike">
						<img src="../static/images/unlike.png">
                        <span>{{params.note.down}}</span>
                    </li>
					<li class="fav addbook">
						<img src="../static/images/fav.png">
                    </li>
                </ul>
            </div>
            <!--评论沙发-->
            <div class="commit">
                <div class="commitTalk">
                    <p>
                    <div class="head0">
                        {%if params.user%}
                        <img src="{{params.user.head_path}}">
                        {%else%}
                        <img src="/static/images/headimg/head.gif">
                        {%endif%}
                    </div>
                    <textarea name="talkContent" class="talkContent" placeholder="对作者说点什么"></textarea>
                    <a class="submit_comment">提交评论</a>
                    </p>
                </div>
                {%for com in params.note.comments[::-1]%}
                <div class="commitHistory">
                    <div class="head1">
                        <img src="{{com.user.head_path}}">
                    </div>
                    <div class="historyContent">
                        <p>
                            <b>{{com.user.name}}说：</b>{{com.content}}({{com.date.strftime("%Y-%m-%d")}})
                        </p>
                    </div>
                    <input type="hidden" class="com_id" value="{{com.id}}">
                    <div class="commitlike">
                        <ul>
                            <li class="com_like">
                                <img src="../static/images/like.jpg">
                                <span>{{com.comment_raise}}</span>
                            </li>
                            <li class="com_unlike">
                                <img src="../static/images/unlike.png">
                                <span>{{com.down}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
{% endblock %}

